﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ChatsPopup.aspx.cs" Inherits="LemonaidFrontRushPortal.ChatsPopup" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
<style type="text/css">
#chatbox{
	display: none;
	position: fixed;
	background: #000;
	width:250px;
	height: 300px;
	z-index: 10;
}
</style>


    <script>
        function chatObj(){
            this.render = function(){
                var chatbox = document.getElementById('chatbox');
                chatbox.style.right = "0px";
                chatbox.style.bottom = "10px";
                chatbox.style.display = "block";
                   // put dynamic stuff in the box here using innerHTML property if needed
                // Usually an Ajax request to get the specific chat brough into the window
                }
            this.ok = function(){
                document.getElementById('dialogbox').style.display = "none";
                document.getElementById('dialogoverlay').style.display = "none";
                }
        }
        var chat = new chatObj();
</script>
</head>
<body>
<div id="chatbox">
</div>
<button onclick="chat.render()">Open Chat Window</button>
   
<h3>My web document content ...</h3>
    
</body>
</html>
